/* small device */

@media screen and (max-width: 576px) {
    .navbar, .lav-links, .team {
        flex-direction: column;
    }


    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }

}

/* medium device */

@media screen and (max-width: 576px) {
    .team {
        flex-direction: column;
    }

    .our-features {
        margin-left: 50px auto;
    }
}